<!DOCTYPE html>
<html ng-app="NewsFeed" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <style>
    *, *:before, *:after{box-sizing:border-box;}
body{padding:0;margin:0;line-height:18px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;position:absolute;height:100%;width:100%;background:#f2f2f2;}

#navigation{min-height:50px;background-color:#222222;position:fixed;top:0;left:0;width:100%;z-index:99;}
#navigation a{padding:8px 15px;float:left;}
#navigation img{width:90px;height:30px;}

#main{position:absolute;width:100%;height:100%;}
#main #carousel{position:relative;top:50%;transform:translateY(-50%);}
#main #carousel .carousel-inner{padding:25px 0 75px;}

#footer{width:100%;background:#f2f2f2;border:1px solid #e4e4e4;padding:20px;position:absolute;bottom:0;}
#footer div{text-align:center;}
#footer span{clear:both;display:block;margin:0 0 10px;}
#footer .btn{padding:15px;border-radius:25px;}
</style>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- Since we're running an external back-end -->
    <script src="<SERVER NAME (INDEX.HTML)>/socket.io/socket.io.js"></script>
    
    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      { "parsetags": "explicit" }
    </script>
  </head>
  <body>
    <div id="navigation">
      <a href="#"><img src="assets/openb-logo.png" /></a>
    </div>
    <div ui-view="main"></div>

    <footer >
    </footer>
  </body>
</html>
